<!doctype html>
<html>
	<head>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		
		<script type="text/javascript">
		"use strict"

		/*
		FHIR API example
		 */
		$.get('http://fhir.hackathon.siim.org/fhir/Patient/1?_format=application/json', function(result){
				
				console.log(result)
			})

		</script>
	</head>
	<body>
		
	</body>
</html>
