<!doctype html>
<html>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

	<script type="text/javascript" src="/javascripts/fhir.js"></script>
	<script type="text/javascript" src="/gamuts.js"></script>


<head>	
</head>

<body>
	<div class="wrapper">

	<div class="col-md-6">
		<button class="btn find-reports">Find Radiology Reports</button>
		<div>
			<ul id="patient-list"></ul>
		</div>
		<textarea cols='80' rows="10" id="inputText"></textarea>

			<div>
				<button class="btn btn-default" onclick="getDiagnosis()">Diagnosis</button>
			</div>
		</div>

		<div class="col-md-4">
			<div id="output"></div>
		</div>

	</div>

</body>

</html>


