<!doctype html>
<html>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

	<script type="text/javascript" src="/javascripts/fhir.js"></script>
	<script type="text/javascript" src="/gamuts.js"></script>


<head>	
</head>

<body>
	<div class="wrapper">
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<a class="navbar-brand" href="#">Diagnosis Please...</a>
			<p class="pull-right navbar-text">
			<a href="https://github.com/jmhmd/fhirgamuts/issues" class="navbar-link" target="_blank">
				<span class="glyphicon glyphicon-question-sign"></span> Report a bug, ask a question, suggest a feature
			</a>
		</p>
		</nav>

		<div class="col-md-2">
			<button class="btn find-reports">Find Radiology Reports</button>
			<div class="well well-sm">
				<ul id="patient-list"></ul>
			</div>
		</div>
		<div class="col-md-6">
			<label>Report Text</label>
			<div class="form-group">
				<div id="inputText"></div>
					<div>
						<button class="btn" onclick="getDiagnosis()">Diagnosis</button>
					</div>
			</div>
		</div>
		<div class="col-md-4">
			<label>Gamut Relations</label>
			<div id="output"></div>
		</div>

	</div>

</body>

</html>


